OPENAI_BASE_URL=
OPENAI_API_KEY=
OPENAI_MODEL=

# OpenAI格式的embedding服务接口
EMBEDDER_BASE_URL=
EMBEDDER_API_KEY=
EMBEDDER_MODEL=

LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL=

# DB_HOST=
# DB_PORT=
# DB_USER=
# DB_PASSWORD=
# DB_DATABASE=
# DB_SCHEMA=